body
{
	background: lightblue;
}

	.login_div
	{
		background: white;
		padding: 10px;
		border-radius: 15px;
	}


#player1_input , #player2_input{

	display: inline-block;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}

#player1_div{
	margin-left: 100px;
}

#player2_div{
	margin-left: 478px;
	margin-top: -85px;
}

#button_login{
	margin-left: 200px;
	margin-top: 45px;
}
